* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

.container {
	margin: 0 auto;
	max-width: 512px;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
	z-index: -1;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
	display: flex;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	color: white;
	min-height: 50px;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

.reel-header svg {
	margin: 0 10px;

}


.header-nav {
	display: flex;
	color: rgba(255, 255, 255, 0.5);
	position: relative;
}

.header-nav p:nth-child(3),
.header-nav span {
	color: rgba(255, 255, 255, 1);
}

.header-nav span {
	position: absolute;
	right:0;
	translate:  -90% -40%;
	font-size: 40px;
}

.header-nav p {
	padding: 0 4px;
}


/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: black;
	min-height: 80px;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

.footer-icon {
	text-align: center;
	width: 20%;
}

.footer-icon i {
	font-size: 2rem;
	width: calc(100% / 5);
}

.footer-icon p {
	font-size: 0.7rem;
}
/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
	color: white;
	text-align: center;
	max-height: 400px;

	display: flex;
	flex-direction: column;
	justify-content: start;
	flex-wrap:wrap;
	align-items: center;
	color: white;
	gap: 10px;


	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}


.sidebar i {
	font-size: 30px;
}



.channel-pic {
	flex-grow: 0;
	max-width: 50px;
}

.counter {
	text-align: center;
	translate: 0 -40%;
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */


/* --------------------- */
